<nav class="headergfx">

<!-- <div class="headergfx"> -->


<img id="Donald-Duck" src="Donald-Duck- nEW.png" alt="">
<img id="petition-text" src="petition_text_donald.png" alt="">
<!-- </div> -->
</nav>
