<nav class="partial">
<a id="logoutbutton" href="/loggedout">
<img src="logout.png" alt="logout">
</a>

<div id="navbarlinks">
                <div class="each">
                    <a href="/viewsignatures">-Who else has Signed ?-</a>
                </div>
                <div class="each">
                    <a href="https://www.youtube.com/watch?v=9pN-6SOZANE">More Info-</a>
                </div>
                <div class="each">
                    <a href="/editprofile">Your profile-</a>
                </div>



</div>
</nav>
