<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <!-- <title>SAVE THE BEES</title> -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto" rel="stylesheet">
        <link rel="stylesheet" href="stylesheet.css">
    </head>
    <body>


        {{{ body }}}
    </body>



    <script src='/canvasscript.js' charset="utf-8"></script>

</html>
