<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="/stylesheet.css">
        <meta charset="utf-8">
    </head>

    <body>

        <div id="addtionalinfocontainer">
            <div class="headbox">
                <div id="lefthead">
                    <h1 class="boldh1">  SAVE THE BEES</h1>
                </div>
                <div id="righticon">
                    <a href="/"> INFO </a>
                    <a href="/login"> LOGIN </a>

                </div>
            </div>
                        <form  method="post">
            <div id="registerbox">
                <div class="subheadreg">
                    <h1>Please fill in the additional info below if you like. This section is optional</h1>
                </div>
                <div class="formitem">
                    <input type="number" name="age" placeholder="Age">
                </div>
                <div class="formitem">
                    <input type="text" name="city" placeholder="City">
                </div>
                <div class="formitem">
                    <input type="text" name="homepage" placeholder="Your Homepage">
                </div>
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <div class="formitem">
                    <button class="loginbutton" type="submit">Continue</button>
                </div>
            </div>
                        </form>
        </div>





        </div>
    </body>
</html>
