<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheet.css">
        <meta charset="utf-8">
        <title>HOME STYLING</title>
    </head>

    <body>



        <h1>Please fill in the additional info below</h1>
        <h1>This is optional so you may not fill in this section if you like</h1>

        <div class="additionalform">

                <form  method="post">
                    <p>Age</p>
                    <input type="number" name="age" placeholder="Age">
                    <p>City</p>
                    <input type="text" name="city" placeholder="City">
                    <p>Homepage URL</p>
                    <input type="text" name="homepage" placeholder="Your Homepage">
                    <button id="signupbutton" type="submit">Continue</button>


                </form>
        </div>

    </div>
    <p>Already a user with us?</p>
    <a id="loginbutton" href="/loginpage">Log In</a>

    <div class="placeholder">

    </div>


    </body>



</html>
