<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
        <link rel="stylesheet" href="stylesheet.css">
        <meta charset="utf-8">
        <title>HOME STYLING</title>
    </head>

    <body>
                        <p id="errormessage"> {{ error }} </p>
        {{> headergfx }}


        <h1> Sign up below <br>*Please fill out ALL fields </h1>

<div id="bluebackground">

        <div class="homeform">
                <p id="errormessage"> {{ error }} </p>
                <form  method="post">
                    <div class="pairs">
                        <p>*First name</p>
                        <input type="text" name="firstname" placeholder="firstname">
                    </div>

                    <div class="pairs">
                        <p>*Last Name</p>
                        <input type="text" name="lastname" placeholder="lastname">
                    </div>

                    <div class="pairs">
                        <p>*email</p>
                        <input type="text" name="email" placeholder="email">
                    </div>

                    <div class="pairs">
                    <p>* Your Password</p>
                    <input type="password" name="password" placeholder="password">
                    <button id="loginbutton" type="submit">Sign Up!</button>

                    </div>



                </form>
        </div>

    </div>

    <div id="box">
        <h1>Already a user with us?     <a href="/loginpage">   Log In</a></h1>


    </div>




    </body>



</html>
