<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto" rel="stylesheet">
        <link rel="stylesheet" href="stylesheet.css">
        <meta charset="utf-8">

    </head>

<body>

            <div id="landingpagecontainer">
                <div class="headbox">
                    <div id="lefthead">
                        <h1 class="boldh1">  SAVE THE BEES</h1>
                    </div>
                    <div id="righticon">
                        <a href="/registration"> SIGN PETITION </a>
                        <a href="/login"> LOGIN </a>

                    </div>


                </div>
                <div id="landingpagecontent">
                        <div id="contentbox">
                            <div>
                                <h2 class="lightsubhead">An endangered species with not long to live</h2>
                            </div>
                            <div id="content">
                                <p>For the first time in history, several American bee species have been classified as endangered. There are many factors that have contributed to the decline in bee populations in recent years, with climate change being at the root of many of these issues. In order to save the dwindling number of bees, we must implement the mitigation and management plans that are in place, including the Environmental Protection Agency’s Risk Assessment Guide, the United States Government’s Pollinator Research Action Plan, and the Canadian Governments Pollinator Health Action Plan. The implementation of these practices could mean life of death for some species.</p>

                            </div>
                            <div id="links">
                                <a href="/login">LOGIN</a>
                                <a href="/registration"> SIGN PETITION </a>
                            </div>
                        </div>

                        <div>
                                <!-- placeholder -->
                        </div>

                </div>


            </div>

</body>

</html>
