<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
        <link rel="stylesheet" href="stylesheet.css">
        <meta charset="utf-8">

    </head>

    <body>
        <div id="loginpagecontainer">
            <div class="headbox">
                <div id="lefthead">
                    <h1 class="boldh1">  SAVE THE BEES</h1>
                </div>
                <div id="righticon">
                    <a href="/registration"> SIGN PETITION </a>
                    <a href="/"> INFO </a>

                </div>


            </div>
            <form  method="post">
                <div id="login">

                    <div class="formitem">

                        <input type="text" name="email" placeholder="email">
                    </div>

                    <div class="formitem">

                        <input type="password" name="password" placeholder="password">
                    </div>
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <div class="formitem">
                        <button class="loginbutton" type="submit">LOGIN</button>
                    </div>
                </div>
            </form>

        <p id="errormessage"> {{ error }} </p>

        </div>
    </body>



</html>
