<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheet.css">
        <meta charset="utf-8">
        <title>THANK YOU PAGE</title>
    </head>
    <body>
        {{> nav }}

        <h1>THANK YOU FOR SIGNING THE PETITION</h1>
        <h2>to see a list of people who have signed for this noble cause click <a href="/viewsignatures">here</a> </h2>
        <img src={{image}} alt="">

        <form class="editprofilefooter"  method="post">
            <a id="loginbutton" href="/viewsignatures">See Other Signers</a>
            <a id="loginbutton" href="/editprofile">Edit Info</a>
            <a id="loginbutton" href="/newsigner">Change Sig</a>

        </form>

    </body>
</html>
