<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="/stylesheet.css">
        <meta charset="utf-8">
    </head>
    <body>
        <div id="thankyoupagecontainer">
            <div class="headbox">
                <div id="lefthead">
                    <h1 class="boldh1">  SAVE THE BEES</h1>
                </div>
                <div id="righticonsmall">
                    <a href="/viewsignatures"> OTHER SIGNERS</a>
                    <a href="/editprofile">YOUR PROFILE</a>
                    <a href="/loggedout">LOG OUT</a>

                </div>


            </div>
            <div id="contentbox">
                <div class="formitem">
                    <h2 class="lightsubhead">THANK YOU FOR SIGNING THE PETITION</h1>
                </div>
                <div class="formitem">
                    <h2>to see a list of people who have signed for this noble cause click <a href="/viewsignatures">here</a> </h2>
                </div>
                <div class="formitem">
                    <img src={{image}} alt="">
                </div>
                <div class="flexspacearound ">
                    <a class="loginbutton" href="/viewsignatures">OTHER SIGNERS</a>
                    <a class="loginbutton" href="/newsigner">CHANGE SIGNATURE</a>
                </div>
            </div>
        </div>
    </body>
</html>
