* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* display: flex; */
}

/* //////BACKGROUND */

body {
    /* background-color: rgb(213, 208, 150); */
    background-color: rgba(217, 210, 152, 0.86);
    background-position: right;
    background-image: url("/background.jpg");
    /* box-shadow: inset 0 0 0 2000px rgba(196, 224, 98, 0.34); */
    width: 100%;
    background-repeat: no-repeat;
    z-index: -1;
    background-attachment: fixed;
    background-size: 90%;
    min-height: 100vh;
}

/* ////////////////////////////////////////////////////// */
/*
Fonts used

font-family: 'Roboto', sans-serif;  -- bold
font-family: 'Open Sans', sans-serif;  -- light
  */

.boldh1 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 6em;
    color: white;
}

.lightsubhead {
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    font-size: 3em;
    color: white;
}
/* //////////////////////////// DATA MODAL ////////////////////////////  */

#modal-container {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(49, 50, 49, 0.54);
    height: 100vh;
}

#data-warning-modal {
    border-radius: 8px;
    text-align: center;
    background-color: black;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: white;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 60vh;
    margin-top: 10%;
    padding-top: 15px;
}
.modal-text {
    margin-top: 5%;
}

#data-warning-modal button {
    margin-top: 20%;
}

/* ////////////////////////////LANDING PAGE////////////////////////// */

.headbox {
    background-color: rgba(117, 117, 117, 0.77);
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 15vh;
}

#lefthead {
    margin-left: 1%;
    width: 79%;
}

#righticon {
    font-family: "Open Sans", sans-serif;
    margin-top: 1%;
    width: 18%;
    display: flex;
    flex-direction: column;
    text-align: right;
}
#righticon a {
    font-size: 2em;
    text-decoration: none;
    color: white;
}
#righticon a:hover {
    text-decoration: underline;
    color: tomato;
    font-size: 2.1em;
    transition-duration: 0.4s;
}
#righticonsmall {
    font-family: "Open Sans", sans-serif;
    margin-top: 0.5%;
    width: 18%;
    display: flex;
    flex-direction: column;
    text-align: right;
}
#righticonsmall a {
    font-size: 1.5em;
    text-decoration: none;
    color: white;
}
#righticonsmall a:hover {
    text-decoration: underline;
    color: tomato;
    transition-duration: 0.4s;
}

#landingpagecontent {
    display: flex;
    flex-direction: row;
}

#contentbox {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    width: 40%;
}

#content {
    shape-outside: ellipse(150px 300px at 50% 50%);
    border-top: 3px solid white;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    padding: 15px;
    border-radius: 10px;
}

#links a {
    text-decoration: none;
    color: white;
    font-size: 3em;
    font-family: "Roboto", sans-serif;
}
#links a:hover {
    text-decoration: underline;
    color: tomato;
    font-size: 3.3em;
    transition-duration: 0.4s;
}
#links {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* ////////////////////////////HEADER GFX STYLES////////////////////////////// */
.headergfx {
    text-align: center;
    margin-left: 0 auto;
    margin-right: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    background-color: rgba(180, 168, 182, 0.62);
}

/* //////////////////////////////LANDINGPAGE STYLING///////////////////////////////////////////////// */

#landingpagecontainer {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* ////////////////////////LOG IN PAGE and REGISTER STYLES////////////////////////////////// */
#loginpagecontainer {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#login {
    font-family: "Roboto", sans-serif;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.formitem input {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-size: 3em;
    margin-left: 5%;
    margin-top: 5%;
}
.formitem p,
h2 {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-size: 1em;
    margin-left: 10%;
    margin-top: 5%;
}
.formitem canvas {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-size: 3em;
    margin-left: 10%;
    margin-top: 5%;
}
.formitem :focus {
    background-color: rgb(224, 223, 42);
}

button {
    width: 90%;
    text-align: center;
    color: black;
    margin-top: 5%;
    margin-left: 5%;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    padding: 10px 20px 10px;
    background-color: rgb(224, 223, 42);
}
button p {
    text-align: center;
}

.loginbutton {
    margin-left: 5%;
    text-align: center;
}

.loginbutton {
    width: 90%;
    text-decoration: none;
    text-align: center;
    color: black;
    margin-top: 5%;
    margin-left: 5%;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    padding: 10px 20px 10px;
    background-color: rgb(224, 223, 42);
}

#clear {
    width: 90%;
    text-align: center;
    text-decoration: none;
    color: black;
    margin-top: 5%;
    margin-left: 5%;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    padding: 20px 20px 20px;
    background-color: rgb(224, 223, 42);
}
button:hover {
    font-family: "Roboto", sans-serif;
    background-color: rgb(231, 245, 140);
    cursor: pointer;
}
.loginbutton:hover {
    font-family: "Roboto", sans-serif;
    background-color: rgb(231, 245, 140);
    cursor: pointer;
}
#clear:hover {
    font-family: "Roboto", sans-serif;
    background-color: rgb(195, 254, 58);
    cursor: pointer;
}
/* //////////////////////REGISTRATION///////////////////////////////////////// */

#registrationpagecontainer {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#registerbox {
    font-family: "Roboto", sans-serif;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    width: 40%;
}
.subheadreg {
    margin-left: 10%;
}

#errormessage {
    font-size: 25px;
}
/* //////////////////////////////ADDITONAL INFO///////////////////////////////////////////////////// */

#addtionalinfocontainer {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* ////////////////////////////////////NEW SIGNERS STYLES////////////////////////////////////////////////////////////// */

#newsignercontainer {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#canvasbox {
    font-family: "Roboto", sans-serif;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    width: 40%;
}
canvas {
    top: 100px;
    background-color: white;
    color: black;
    max-width: 600px;
    max-height: 200px;
}

/* //////////////////////////////////////THANK YOU PAGE STYLES//////////////////////////////////////////////////// */
#thankyoupagecontainer {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* /////////////////////////////////////////VIEW SIGNATURES STYLES///////////////////////////////////////////////////////// */

#viewsignaturescontainer {
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
}

.flexcolname {
    min-width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}
.flexcolage {
    font-weight: bold;

    max-width: 15%;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}
.flexcolcity {
    width: 33%;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

#signerscontentbox {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    width: 40%;
    min-height: 80vh;
}

.listofsigners {
    text-align: left;
    justify-content: space-around;
    margin-top: 2%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    font-size: 2em;
    text-decoration: none;
    color: black;
    font-family: "Roboto", sans-serif;
}
.listofsigners a {
    text-decoration: none;
    color: black;
}

.editprofilefooter {
}

/* ///////////////////////////////////////////////////////////////////////////////////////// */

#profileeditorcontainer {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
}

.citybox {
    border: 1px solid red;
}

.flexspacearound {
    margin-left: 5%;
    justify-content: space-around;
}
/* ///////////////////////////////////////////////////////////////////////////////////////// */

#signersbycitycontainer {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
}

/* ///////////////////////CAROUSEL CLASSES/////////////////////////////////////// */
